
{% block body %}
    <h1>{{ video.title }}</h1>
    <video controls>
        <source src="{{ asset('videos/' ~ video.videoName) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {{ form(form) }}
    <ul>
        {% for comment in comments %}
            <li>{{ comment.user.login }} - {{ comment.text }} - {{ comment.uploadDate }}</li>
        {% endfor %}
    </ul>
{% endblock %}